@model JustTheTip.Models.FriendCollectionViewModel

@{
    ViewBag.Title = "Friends";
}

<h2>Friends</h2>

<div class="col-md-6">
    @Html.Partial("Friends")
</div>

<div class="col-md-6">
    @Html.Partial("Requests");
</div>