@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<div class=" col-md-4 col-lg-4">

    <p>Skapare:</p>
    <table class="table-bordered table table-hover table-striped">
        <thead>
            <tr style="background-color: lightblue">
                <td style="font-weight:bold">Namn</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Ivan Ahlbom</td>
            </tr>
            <tr>
                <td>Rasmus Carlsson</td>
            </tr>
            <tr><td>Josef Holmberg</td></tr>
        </tbody>
    </table>
</div>